 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&family=Zilla+Slab&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.sidebar{
   color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    transition: transform 0.3s ease-in;
    position: absolute;
    
}
.sidebar nav{
    padding: 45px;
    
}
.sidebar nav li{
    padding-block:33px ;
    font-size: 30px;
    list-style: none;
    
}
.sidebar nav li a{
    text-decoration: none;
    color:white;
}
.sidebar nav li a:hover{
    color: darkblue;
}
.main{
    /* background-color: rgb(61, 161, 153); */
  
    padding: 23px;
 
   
}
.container{
    display: flex;
    /* background-color: cadetblue; */
    
}
.infocontainer{
    /* background-color: rgb(255, 0, 98); */
    height: 58vh;
    width:80vw ;
    margin: 63px auto;
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
    
    
    
}
.Devpicture img{
    height: 58vh;
    border-radius: 40%;
  
}
.devinfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    /* background-color: darkgray; */
    
}
.devinfo .name{
    font-size: 3em;
    font-weight: bold;

}
.devinfo .hello{
    font-size: 3em;

}
.devinfo .about{
font-size: 2.5em;
}
.devinfo .aboutmore{
    margin-top: 23px;
    font-size: 2.2em;
    font-family: 'Dancing Script', cursive;
}
.buttons{
    margin-top: 34px;
}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: blue;
    font-size: 2em;
    font-weight: bold;
    margin: 0 3px;
    cursor: pointer;
    


}
.buttons button:hover{
    background-color: black;
    color: yellow;
}
/* contact form */
.contactform h1{
    padding:12px 0;
    font-family: 'Source Code Pro', monospace;
    

}
.contactform{
    padding-top: 144px;
    padding: 0 34px;
font-family: 'Poppins', sans-serif;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
#emailHelp{
    font-size: 12px;
    color: rgb(16, 127, 218);
    margin: 0 5px;
}
.contactform form div input{
    
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 5px;
}
.contact-btn{
    padding: 9px 12px;
    border-radius: 22px;
    color: white;
    background-color: blue;
    font-size: 16px;
    font-weight: bold;
    margin: 0 3px;
    cursor: pointer;
    
    
}
.contact-btn:hover{
    background-color: black;
    color: yellow;
}
.social{
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    
    
}
.social-links h3{
    font-weight: bold;
    
}
.social-links ul{
    list-style-type: none;
    padding: 20px;
    cursor: pointer;
    
}
.social-links ul li{
    padding: 7px;
}
.main .blog-item h2{
    font-family: 'Dancing Script', cursive;
    margin-block: 20px;
}
.main .blog h1{
    font-family: 'Poppins', sans-serif;
    margin-block: 20px;
}
.main .blog-item p{
    font-family: 'Source Code Pro', monospace;
}
.blog-item button{
    margin-top: 10px;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    
}
.cross{
    margin-left: 230px;
    margin-top: 5px;
    
}
.sidebarGo{
    transform: translate(-443px,0px);
}




@media screen and (max-width:1698px) {

       .sidebar{
        transform: translate(-443,0);
        position: absolute;
       }
       .devinfo{
        font-size: 11px;
       }
       .infocontainer{
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        margin-left: 30px;
       }
       .Devpicture{
        padding-top: 20px;
        height: 40vh;
       
       }
}



  
  



